Hotels.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Hotels" type="HotelsType"/>
	
		<xsd:complexType name="HotelsType">
			<xsd:sequence>
				<xsd:element name="Hotel" name="HotelDetails" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	
		<xsd:complexType name="HotelDetails">
			<xsd:sequence>
				<xsd:element name="Name" type="xsd:string"/>
				<xsd:element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="2"/>
				<xsd:element name="Address">
			</xsd:sequence>
			<xsd:attribute name="Rating" type="xsd:string" use="optional"/>
		</xsd:complexType>
	
		<xsd:complexType name="AddressDetails">
			<xsd:sequence>
				<xsd:element name="Number" type="xsd:string"/>
				<xsd:element name="Street" type="xsd:string"/>
				<xsd:element name="City" type="xsd:string"/>
				<xsd:element name="State" type="xsd:string"/>
				<xsd:element name="Zip" type="xsd:string"/>
			</xsd:sequence>
			<xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
		</xsd:complexType>

</xsd:schema>











