Hotels.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- Root element -->
  <xsd:element name="Hotels" type="HotelsType"/>

  <!-- HotelsType contains multiple Hotel elements -->
  <xsd:complexType name="HotelsType">
    <xsd:sequence>
      <xsd:element name="Hotel" type="HotelDetails" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Structure for each Hotel -->
  <xsd:complexType name="HotelDetails">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string"/>
      <xsd:element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="2"/>
      <xsd:element name="Address" type="AddressDetails"/>
    </xsd:sequence>
    <xsd:attribute name="Rating" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <!-- Address details type -->
  <xsd:complexType name="AddressDetails">
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:string"/>
      <xsd:element name="Street" type="xsd:string"/>
      <xsd:element name="City" type="xsd:string"/>
      <xsd:element name="State" type="xsd:string"/>
      <xsd:element name="Zip" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
  </xsd:complexType>

</xsd:schema>
